
@main-bg:rgb(40,40,59);
@calendar-border:rgb(220,220,255);
@calendar-bg:#fff;
@calendar-standout:rgb(49,40,59);
@calendar-color:#444;
@calendar-fade-color:#c0c0c0;
@body-color:#444;
body {
  background-image: url("purplebg.jpg");
  background-size: 2000px;
  
}

* {
  color: white;
  text-align: center;
  font-family: Courier New;
}

.tile {
  position: absolute;
  top:0;
  left: 12vw;
  display:inline;
  height: 4000px;
  width: 75vw;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8edf9950-2c61-48ed-9a27-b4044e2e4723/d6c0a9t-13ae74a8-22d2-4489-bccc-b820d99d9af9.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhlZGY5OTUwLTJjNjEtNDhlZC05YTI3LWI0MDQ0ZTJlNDcyM1wvZDZjMGE5dC0xM2FlNzRhOC0yMmQyLTQ0ODktYmNjYy1iODIwZDk5ZDlhZjkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rbO8O-7xA6fXm5u3pmEIK3qY3EkD34SKfv-aweyAdQI);
  background-position: center;
  opacity: 1;
  image-rendering:optimizeSpeed;
  box-shadow: inset 0 0 0 100vmax rgba(36, 0, 52, 0.618);
  z-index: -1;
  
}
nav{
  position:fixed;
}
h1 {
  font-size: 100px;
  background-color: rgb(0,0,0,0.5);
  width: 100%;
  margin-top:0px;
  margin-bottom:0;
}

h3{
  font-size: 70px;
  width: 100%;
  padding: 0px;
  display: inline;
  text-align: left;
  margin-bottom: -30px;

}

.top {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}
.top2{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 44px;
  width: 100%;
  font-size: 80px;
}

.title_vid{
  display:inline;
  padding-left: 0;
}


h2 {
  font-size: 60px;
  text-align: left;
  margin-left: 22%;
  margin-right: 22%;
  background-color:rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}

p {
  font-size: 20px;
  text-align: left;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 10px;
  background-color:rgba(0, 0, 0, 0.5);
}
.title{
  display: inline-block;
  width: 560px;
  margin-top:-5px;
  font-weight:bold;
  text-align:left;
  background-color:rgba(0, 0, 0, 0.5);
}

li{
  font-size: 40px;
  text-align: left;
  margin-left: 22%;
  margin-right: 22%;
}

.flexcontainer{
  display:flex;
  align-items:left;
  font-size: 40px;
  margin-left: 22%;
  margin-right: 22%;
}
@media (max-width: 2000) {
  .flexcontainer {
    display:inline-block;
    text-align: left
  }
}
.button {
  display: inline;
  top:50%
  color: blue;
  background-color: rgba(36, 0, 52, 1);
  width: 300px;
  height: 80px;
  margin-top: 50px;
  font-size: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 2px rgb(0,0,0,0.5);
  padding: 5px;
}
.button:hover {
  background-color:rgb(117, 10, 163);
  transition: 0.5s;
}
.button:active {
  background-color: #ffffff;
  color:#000000;
  transition: 0s;
}

#TEST



*, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
  border:1px solid #000000r;
  border-radius:20px;
  background:rgb(0,0,0,0.5);
  
}
table {
  clear:none;
  width:100%;
  border:1px solid #ffffff;
  border-radius:3px;
  border-collapse:collapse;
  color: #000000;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid @calendar-border;
  border-top:1px solid @calendar-border;
  width:100% / 7;
}
td.not-current {
  color:#555555;
}
td.normal {
  color:red;
}
td.unavail {
  color: lime;
}
td.today {
  font-weight:700;
  color:@calendar-standout;
  font-size:1.5em;
}
thead td {
  border:none;
  color:@calendar-standout;
  text-transform:uppercase;
  font-size:1.5em;
}
#btnPrev {
  float:left;
  margin-bottom:20px;
  &:before {
    content:'\f104';
    font-family:FontAwesome;
    padding-right:4px;
  }
}
#btnNext {
  float:right;
  margin-bottom:20px;
  &:after {
    content:'\f105';
    font-family:FontAwesome;
    padding-left:4px;
  }
}
#btnPrev, #btnNext {
  background:transparent;
  border:none;
  outline:none;
  font-size:1em;
  color:@calendar-fade-color;
  cursor:pointer;
  font-family:"Roboto Condensed", sans-serif;
  text-transform:uppercase;
  transition:all 0.5s ease;
  &:hover {
    color:@calendar-standout;
    font-weight:bold;
  }
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}
hr{
  width:75%; height: 1px;color: #fff;background: #000; 
}
input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: relative(2, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b b"
    "a a a a b b b b b"
    "c c c c c c c c c";
  background-color: rgb(0,0,0,0.5);
  margin-left:22%;
  margin-right:22%;
}
.item1 {
  grid-area: a;
  align-self: left;
  justify-self: left;
  text-align: left;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
  align-self:left;
  text-align: left;
}

.bottom{
  background-color: #000;
  font-size:30px;
  position: absolute;
  bottom: 6000;
  left:12vw;
  width: 75%;
}
#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
  animation: colorRotate 1s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.rainbowbg{
  background-image: url("rainbow.gif")
}