<!DOCTYPE html>
<html>
<head>
<style>
body {
 background-image: source="ap21298698399010_custom-defc10b7fae5476963b8d46585557d6eaa4f20bc-s1100-c50.jpg";
 background-color: #cccccc;
}

h1 {
  color: goldenrod;
  text-align: center;
  font-family: papyrus;
  font-size: 100px;
}

h2 {
  color: black;
  text-align: center;
  font-family: papyrus;
  font-size: 60px;
}

p {
  font-family: papyrus;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>
</html>
